* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.wrapper {
  display: flex;
  flex-direction: row;
  width: 600vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}
.vh-center {
  margin: auto auto;
  width: 80%;
}

.outer-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.one {
  font-family: 'Fraunces', serif;
  font-size: 32px;
  background: #efdefe;
}

.two {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  background: #a3f3d3;
}

.three {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  background: #0bbaa0;
}

.four {
    font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  background: #00dfdf;
}

.five {
    font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  background: #efdefe;
}

.six {
    font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 18px;
  background: #a3f3d3;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}
